{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

<div class="container">

    <div class="col-xl-6 col-md-6">
        <h3>Projets list</h3><br>
        <div class="section-headline margin-bottom-30">
    <table class="basic-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Dateprojet</th>
                <th>Description</th>
                <th>Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.titre }}</td>
                <td>{% if projet.dateprojet %}{{ projet.dateprojet|date('Y-m-d') }}{% endif %}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.budget }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>


            <div class="pull-right margin-top-5 col-xl-6 col-md-6">
            <a  class="button ripple-effect" href="{{ path('projet_new') }}">Create a new projet</a>
            </div>
</div>
</div>
{% endblock %}
