{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

<div class="container">

    <div class="col-xl-12 col-md-12">
        <h3 class="page-title">Projets list</h3><br>

        {% for projet in projets %}    <!-- Job Listing -->
        <div class="content">
            <a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}>
            <a class="dashboard-box-list">
                <li>
                    <!-- Job Listing -->
                    <div class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <!-- 											<a href="#" class="job-listing-company-logo">
                                                                            <img src="images/company-logo-05.png" alt="">
                                                                        </a> -->

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title"><a href="#">{{ projet.titre }}</a></h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-date-range"></i>{% if projet.dateprojet %}{{ projet.dateprojet|date('Y-m-d') }}{% endif %}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="buttons-to-right always-visible">
                        <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Candidates <span class="button-info">0</span></a>
                        <a href="{{ path('projet_edit', { 'id': projet.id }) }}" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                        <a href="{{ path('projet_delete', { 'id': projet.id }) }}" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                    </div>
                </li>

        {% endfor %}


        <div class="section-headline margin-bottom-30">
    <table class="basic-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Dateprojet</th>
                <th>Description</th>
                <th>Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td></td>
                <td>{% if projet.dateprojet %}{{ projet.dateprojet|date('Y-m-d') }}{% endif %}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.budget }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
            </a>
    </div>


    </div>
</div>
</div>
{% endblock %}
