{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner" >

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">

    <h3>Creation Projet </h3><br>

            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="#">Projet</a></li>
                    <li>Creation Projet</li>
                </ul>
            </nav>
        </div>


    {{ form_start(form) }}
        <div class="col">
            <div class="row">

                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Titre</h5>
             {{ form_widget(form.titre) }}
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Categorie</h5>
                         {{ form_widget(form.Categorie) }}
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Budget</h5>
                        {{ form_widget(form.budget) }}
                    </div>
                </div>


                <div class="col-xl-12">
                    <div class="submit-field">
                        <h5>Description</h5>

                            {{ form_widget(form.description,{ 'attr': {'placeholder': 'description de projet'} }) }}
                        </div>
                    </div>



            <input type="submit" value="Create" />

            </div>
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
    </div>
    </div>
{% endblock %}
