{% extends 'base.html.twig' %}

{% block body %}
    <h1>Freelancer creation</h1>

    {{ form_start(form) }}
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
      Nom  {{ form_widget(form.nom) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
      Prenom  {{ form_widget(form.prenom) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
       Numero Telephone {{ form_widget(form.numtel) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
        Date {{ form_widget(form.date) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
       Domaine {{ form_widget(form.domaine) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
      Username  {{ form_widget(form.username) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">

       E-mail {{ form_widget(form.email) }}
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12">
      Password   {{ form_widget(form.plainPassword.first,{ 'attr': {'placeholder': 'password'} }) }}
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
     Confirmer Password   {{ form_widget(form.plainPassword.second,{ 'attr': {'placeholder': 'password'} }) }}
    </div>

<div class="form-group col-lg-6 col-md-12 col-sm-12 " >
        <input type="submit" class="btn btn-primary" value="Create" />
</div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('freelancer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
