{% extends 'base.html.twig' %}

{% block body %}




    <!-- Dashboard Container -->
    <div class="dashboard-container">


        {{ include('Csidebar.html.twig') }}


        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner" >

                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Settings</h3>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>Settings</li>
                        </ul>
                    </nav>
                </div>

                <!-- Row -->
                <div class="row">

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> Mon Compte</h3>
                            </div>

                            <!--Profile update-->
                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    {{ form_start(edit_form) }}
                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                                            <div class="upload-button"></div>
                                            <input class="file-upload" type="file" accept="image/*"/>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Prénom</h5>
                                                    {{ form_widget(edit_form.prenom,{ 'attr': {'placeholder': 'prenom','class':'with-border'} }) }}


                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Nom</h5>
                                                    {{ form_widget(edit_form.nom,{ 'attr': {'placeholder': 'nom','class':'with-border'} }) }}


                                                </div>
                                            </div>



                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Email</h5>
                                                    {{ form_widget(edit_form.email,{ 'attr': {'placeholder': 'email','class':'with-border'} }) }}


                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Numero</h5>
                                                    {{ form_widget(edit_form.numtel,{ 'attr': {'placeholder': 'Numéro','class':'with-border'} }) }}


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> Mon Profile</h3>
                            </div>

                            <!--Skills update-->

                            <div class="content">
                                <ul class="fields-ul">

                                    <li>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Domaine</h5>

                                                        {{ form_widget(edit_form.domaine,{ 'attr': {'placeholder': 'Numéro','class':'bootstrap-select with-border dropup'} }) }}


                                                </div>
                                            </div>





                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                    <!-- Dashboard Box -->
                    <div id="test1" class="dashboard-box">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-lock"></i> Mot De Passe & Sécurité</h3>
                        </div>
                        <!--Password update-->

                        <div class="content with-padding">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>Mot De Passe Actuel</h5>
                                        <input type="password" name="oldpass" class="with-border">
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>Nouveau Mot De Passe</h5>
                                        <input type="password" name="newpass" class="with-border">
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>Répété Mot De Passe</h5>
                                        <input type="password" name="newpass1" class="with-border">
                                    </div>
                                </div>
                                {% if msg is defined and msg is not empty  %}
                                    <div class="alert alert-danger" role="alert">
                                        {{msg}}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- Button -->
                    <div class="col-xl-12">
                        <button type="submit"  class="button ripple-effect big margin-top-30">Sauvegarder les modifications</button>
                    </div>

                </div>
                {{ form_end(edit_form) }}
            </div></div></div>
                <!-- Row / End -->
{% endblock %}
   {% block footer %}

   {% endblock %}
