<!doctype html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Titane</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/colors/blue.css') }}">
    {% endblock %}

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container
    ================================================== -->
    <header id="header-container" class="fullwidth">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="/"><img src="{{ asset('images/titane.png') }}" alt=""></a>
                    </div>

                    <!-- Main Navigation -->

                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->


                <!-- Right Side Content / End -->
                <div class="right-side">


                    <!-- User Menu -->
                    <div class="header-widget">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <!-- Messages -->
                            <div class="header-notifications user-menu">
                                <div class="header-notifications-trigger">
                                    <a href="#"><div class="user-avatar status-online">

                                                <img src="{{ asset('images/user-avatar-small-01.jpg') }} " alt="">


                                        </div></a>
                                </div>

                                <!-- Dropdown -->
                                <div class="header-notifications-dropdown">

                                    <!-- User Status -->
                                    <div class="user-status">

                                        <!-- User Name / Avatar -->
                                        <div class="user-details">
                                            <div class="user-avatar status-online"><img src="{{  asset('images/user-avatar-small-01.jpg') }} " alt=""></div>
                                            <div class="user-name">
                                                {{app.user.username}} <span>

                                                        Administrateur

                                                </span>
                                            </div>
                                        </div>

                                        <!-- User Status Switcher -->


                                        <ul class="user-menu-small-nav">

                                                <li><a href=" {{ path('admin_profile',{"id":app.user.id}) }}">
                                                        <i class="icon-material-outline-settings"></i> Paramètre</a></li>





                                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-material-outline-power-settings-new"></i> Se déconnecter</a></li>


                                        </ul>

                                    </div>
                                </div>

                            </div>
                            <!-- User Menu / End -->
                        {% else %}
                            <div class="header-widget">
                                <a href="{{path('formsignin')}}" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>S'identifier / S'enregistrer</span></a>
                            </div>
                        {% endif %}



                        <!-- Mobile Navigation Button -->
                        <span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

                    </div>
                    <!-- Right Side Content / End -->

                </div>
            </div></div>
    </header>
    <!-- Header / End -->


    <div class="clearfix"></div>
    <!-- Header Container / End -->
    {% block sidebar %}

    {% endblock %}
    {% block body %}{% endblock %}</div>
<!-- Footer
================================================== -->

<div id="footer">
    {% block footer %}


    {% endblock %}
</div>
<!-- Footer / End -->


<!-- Wrapper / End -->


{% block javascripts %}
    <!-- Scripts
    ================================================== -->
    <script src="{{ asset("js/jquery-3.3.1.min.js") }}"></script>
    <script src="{{ asset("js/jquery-migrate-3.0.0.min.js") }}"></script>
    <script src="{{ asset("js/mmenu.min.js") }}"></script>
    <script src="{{ asset("js/tippy.all.min.js") }}"></script>
    <script src="{{ asset("js/simplebar.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap-slider.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap-select.min.js") }}"></script>
    <script src="{{ asset("js/snackbar.js") }}"></script>
    <script src="{{ asset("js/clipboard.min.js") }}"></script>
    <script src="{{ asset("js/counterup.min.js") }}"></script>
    <script src="{{ asset("js/magnific-popup.min.js") }}"></script>
    <script src="{{ asset("js/slick.min.js") }}"></script>
    <script src="{{ asset("js/custom.js") }}"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function() {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>


    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var options = {
                types: ['(cities)'],
                // componentRestrictions: {country: "us"}
            };

            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        // Autocomplete adjustment for homepage
        if ($('.intro-banner-search-form')[0]) {
            setTimeout(function(){
                $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
            }, 300);
        }

    </script>


{% endblock %}
</body>
</html>
