
{% block sidebar %}
<!-- Dashboard Sidebar
    ================================================== -->
<div class="dashboard-sidebar">
    <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">


            <!-- Navigation -->
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">

                    <ul data-submenu-title="Debut">
                        <li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                        <li><a href="{{path("messlist_noid")}}"><i class="icon-material-outline-question-answer"></i> Messages <span class="nav-tag">2</span></a></li>

                    </ul>

                    <ul data-submenu-title="Organiser et Gérer">
                        <li><a href="#"><i class="icon-material-outline-business-center"></i> Travaille</a>
                            <ul>
                                <li><a href="{{ path('projet_index') }}">Mes Projet <span class="nav-tag">3</span></a></li>

                               <li><a href="{{ path('projet_new') }}">Poster un projet</a></li>
                            </ul>
                        </li>

                    </ul>

                    <ul data-submenu-title="Compte">
                        <li class="active"><a href="{{path('update_profilec',{'id':app.user.id}) }}"><i class="icon-material-outline-settings"></i>Paramètres</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-material-outline-power-settings-new"></i>Se déconnecter</a></li>
                    </ul>

                </div>
            </div>
            <!-- Navigation / End -->

        </div>
    </div>
</div>
<!-- Dashboard Sidebar / End -->
{% endblock %}
