{% extends 'back.html.twig' %}


{% block body %}






<div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->

    {{ include('Asidebar.html.twig') }}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >
            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Dashboard</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Acceuil</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>Dashboard</li>
                    </ul>
                </nav>
            </div>

            <!-- Fun Facts Container -->
            <div class="fun-facts-container">
                <div class="fun-fact" data-fun-fact-color="#36bd78">
                    <div class="fun-fact-text">
                        <span>Projet créé</span>
                        <h4>{{ postcount}}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#b81b7f">
                    <div class="fun-fact-text">
                        <span>Postulation</span>
                        <h4>{{ projcount }}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#efa80f">
                    <div class="fun-fact-text">
                        <span>Utilisateur</span>
                        <h4>{{users}}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-feather-user-check"></i></div>
                </div>

                <!-- Last one has to be hidden below 1600px, sorry :( -->
                <div class="fun-fact" data-fun-fact-color="#2a41e6">
                    <div class="fun-fact-text">
                        <span>Paiement effecuté</span>
                        <h4>{{paiement}}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-line-awesome-dollar"></i></div>
                </div>
            </div>

            <!-- Row -->
            <div class="row">

                <div class="col-xl-6">
                    <!-- Dashboard Box -->
                    <div class="dashboard-box main-box-in-row">
                        <div class="headline">
                            <h3><i class="icon-feather-bar-chart-2"></i> Statistique des Categories</h3>
                            <div class="sort-by">

                            </div>
                        </div>
                        <div class="content">
                            <!-- Chart -->
                            <div class="chart">
                                <div id="container"  ></div>
                            </div>
                        </div>
                    </div>
                    <!-- Dashboard Box / End -->
                </div>
                <div class="col-xl-6">
                    <div class="dashboard-box">
                        <div class="headline">
                            <h3><i class="icon-material-outline-assignment"></i> Orders</h3>
                        </div>
                        <div class="content">
                            <ul class="dashboard-box-list">

                                {% for reclam in reclams %}
                                    <li>
                                        <div class="invoice-list-item">
                                            <strong>{{ reclam.title }}</strong>
                                            <ul>
                                                <li>
                                                    {% if reclam.etat==true %}
                                                        <span class="paid">Traité</span>
                                                    {% else %}<span class="unpaid">En attente</span>{% endif %}

                                                </li>
                                                <li>Utilisateur:{{ reclam.sender.nom ~" "~ reclam.sender.prenom}} </li>
                                                <li>Date: {{reclam.date|date("d/m/y")}}</li>
                                            </ul>
                                        </div>
                                        <!-- Buttons -->
                                        {% if reclam.etat==false %}
                                            <div class="buttons-to-right">
                                                <a href="#small-dialog-3" data-id="{{ reclam.id }}" data-name="{{ reclam.sender.nom ~" "~ reclam.sender.prenom}}"
                                                   data-content="{{ reclam.contenu}}" data-title="{{ reclam.title }}"
                                                   class="popup-with-zoom-anim button reclammodal ripple-effect "><i class="icon-material-outline-gavel"></i> Fixer</a>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}




                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-6">
                    <!-- Dashboard Box -->
                    <div class="dashboard-box main-box-in-row">
                        <div class="headline">
                            <h3><i class="icon-feather-bar-chart-2"></i> Statistique</h3>
                            <div class="sort-by">

                            </div>
                        </div>
                        <div class="content">
                            <!-- Chart -->
                            <div class="chart">
                                <div id="container1" ></div>
                            </div>
                        </div>
                    </div>
                    <!-- Dashboard Box / End -->
                </div>
                <div class="col-xl-6">
                    <!-- Dashboard Box -->
                    <div class="dashboard-box main-box-in-row">
                        <div class="headline">
                            <h3><i class="icon-feather-bar-chart-2"></i> Statistique</h3>
                            <div class="sort-by">

                            </div>
                        </div>
                        <div class="content">
                            <!-- Chart -->
                            <div class="chart">
                                <div id="container2"  ></div>
                            </div>
                        </div>
                    </div>
                    <!-- Dashboard Box / End -->
                </div>

                <!-- Dashboard Box -->


            </div>
            <!-- Row / End -->

        </div></div></div>

    <!-- Leave a Review for Freelancer Popup
================================================== -->
    <div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
            </ul>
            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab" style="">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Reclamation</h3>
                        <span>Reclamation de <a href="#" id="nomfreelancer"> </a> sur <a href="#" id="reclamtitle"></a> </span>

                    </div>
                    <div class="clearfix"></div>

                    <p id="content"></p>

                    <form action="{{ path('fixereclam') }}">
                        <div class="input-group">
                            <input type="hidden" name="id" id="reclamid" value="">
                            <input type="hidden" name="return" value="dash">


                            <textarea   cols="10" name="message" placeholder="Reponse" class="with-border" required></textarea>

                        </div>
                        <button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" >Enovyer <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </form>

                    <!-- Button -->


                </div>

            </div>





        </div>
    </div>
    <!-- Leave a Review Popup / End -->
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>



    <script>
        $(".reclammodal").on("click" , function () {



            var id = $(this).data('id');

            var name=$(this).data('name');
            var content=$(this).data('content');



            document.getElementById("reclamid").value = id;
            document.getElementById("content").textContent = content;
            document.getElementById("nomfreelancer").text = name;
            document.getElementById("reclamtitle").text = $(this).data('title');;


            // As pointed out in comments,
            // it is unnecessary to have to manually call the modal.
            // $('#addBookDialog').modal('show');
        });
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>






    <script type="text/javascript">
        $(document).ready(
            function() {
                $.ajax({

                    type: 'GET',

                    url: '/stats',
                    success: function (result) {


                        var catstat=result["catstat"]
                        var projstat=result["projstat"]
                        var paimstat=result["paimstat"]

                        for (var i = 0; i < catstat.length; i++) {
                            catstat[i].y=parseInt(catstat[i].y);
                        }

                        Highcharts.chart('container', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Nombre de projet par categorie'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%<br>{point.y:.00f}</b>'
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.percentage:.1f}%<br>{point.y:.0f}'
                                    }
                                }
                            },
                            series: [{
                                name: 'Pourcentage',
                                colorByPoint: true,
                                data: catstat

                            }]
                        });
                        var thcat = [];
                        var thvalues = [];
                        for (var i = 0; i < paimstat.length; i++) {
                            if (paimstat[i]["name"]) {
                                thcat[i] = paimstat[i]["name"];
                            }
                            if (paimstat[i]["y"]) {
                                thvalues[i] = parseInt(paimstat[i]["y"]);
                            }
                        }

                        console.log(thvalues);

                        Highcharts.chart('container1', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Somme des paiement par mois'
                            },
                            subtitle: {
                                text: ''
                            },
                            xAxis: {
                                categories: thcat,
                                crosshair: true,
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Paiement'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y} Dinars tunisien</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: [{
                                name: 'Interventions',
                                data: thvalues
                            }]
                        });

                        var mncat = [];
                        var mnvalues = [];
                        for (var i = 0; i < projstat.length; i++) {
                            if (projstat[i]["name"]) {
                                mncat[i] = projstat[i]["name"];
                            }
                            if (projstat[i]["y"]) {
                                mnvalues[i] = parseInt(projstat[i]["y"]);
                            }
                        }

                        console.log(mnvalues)
                        Highcharts.chart('container2', {
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: 'Nombre de produit de chaque mois'
                            },
                            subtitle: {
                                text: ''
                            },
                            xAxis: {
                                categories: mncat,
                                crosshair: true,
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Nombre des produits'
                                }
                            }, credits: {
                                enabled: false
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y} Projets</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: [{
                                name: 'Produit',
                                data: mnvalues
                            }]
                        });









                    }
                });
            })
    </script>
{% endblock %} {% block footer %}

{% endblock %}
